
#body-row {
    margin-left:0;
    margin-right:0;
}
#sidebar-container {
    min-height: 100vh;
    background-color: #151515;
    padding: 0;
}

/* Sidebar sizes when expanded and expanded */
.sidebar-expanded {
    width: 230px;
}
.sidebar-collapsed {
    width: 60px;
}

/* Menu item*/
#sidebar-container .list-group a {
    height: 50px;
    color: white;
}

/* Submenu item*/
#sidebar-container .list-group .sidebar-submenu a {
    height: 45px;
    padding-left: 30px;
}
.sidebar-submenu {
    font-size: 0.9rem;
}

/* Separators */
.sidebar-separator-title {
    background-color: #101010;
    height: 35px;
}
.sidebar-separator {
    background-color: #101010;
    height: 25px;
}
.logo-separator {
    background-color: #101010;
    height: 60px;
}

/* Closed submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="false"] .submenu-icon::after {
  content: " \f0d7";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}
/* Opened submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="true"] .submenu-icon::after {
  content: " \f0da";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}


.nav .nav-item{
    background: #edeff1;
    color: #fff;
    padding: 4px;

    margin-bottom: 6px;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.nav .nav-item:hover{
    background: #e0e2e4;
}

.nav .nav-item a{
    color: #292727;
}
.nav .nav-item a i{
    margin-right:5px;
    font-size: 14px;
}

.nav .nav-item .active{
    font-weight: bold;
    background: #e0e2e4;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 0;
    box-shadow: inset -1px 0 0 rgb(0 0 0 / 10%);
}

.sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 70px;
    height: calc(100vh - 70px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
}



